<%- include('../partials/header.ejs')  %>
<% const {title, content,createdAt} = question  %>
<a href="/questions">Back</a>
    <h1><%= title %></h1>
    <p><%= content %></p>
    <p><strong>Created At:</strong><%= createdAt %></p>
    <a href="/questions/<%= question.id %>/edit">Edit</a>

    <h1>Answers</h1>
    <form class="" action="/questions/<%= question.id %>/answers" method="post">
      <div>
        <textarea id = "content" name="content"></textarea>
      </div>
      <input type="submit" name="submit" id="submit" value="Submit">
    </form>

    <ul>
      <% answers.forEach(answer => { %>
        <li>
            <p><%= answer.content %></p>
            <p><%= answer.updatedAt %></p>
            <form action="/answers/<%= answer.id %>" method="post">
              <input type="hidden" name="_method" value="delete"/>
              <input type="submit" value="Delete" />
            </form>
        </li>
      <% }) %>
    </ul>

<%- include('../partials/footer.ejs') %>
